//Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');

//Var for font
$font-spartan  : 'Spartan', sans-serif;


//Colors
$color-brown: #bb5432;
$color-lightbrown: #f1c5b6;
$color-white: #ffffff;


//Transition
$transition-slow: 1s;
$transition-fast: 0.2s;
