@use 'src/styles/vars';

.currency {
  text-align: left;
  padding: 1rem 1rem;
  font-weight: 500;
  color: vars.$color-brown;

  &--selected {
    background-color: vars.$color-brown;
    color: vars.$color-white;
    transition: none;
  }
  
  &:not(:last-child){
    border-bottom: solid 1px vars.$color-brown;
  }
  transition: vars.$transition-slow;


  &:first-child{
    font-weight: 700;
  }

  &:not(.currency--title, .currency--selected){
  &:hover {
      background-color: vars.$color-lightbrown;
      transition: vars.$transition-fast;
    }

  }

}
