@use 'src/styles/vars';

.toggle {
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.33);
  margin: auto;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 2rem;
  color: vars.$color-brown;
  transition: vars.$transition-slow;
  
  &--activated{
    transform: rotate(90deg)
  }
  
}
